@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto-latin-400-normal.woff2") format("woff2"),
        url("/fonts/roboto-latin-400-normal.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto-latin-500-normal.woff2") format("woff2"),
        url("/fonts/roboto-latin-500-normal.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto-latin-700-normal.woff2") format("woff2"),
        url("/fonts/roboto-latin-700-normal.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
    --sidebar-background-color: #3492d5;
    --main-background-color: #e2e8f1;
    --card-accent-color: #f1b429;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

body>div,
/* .sidebar *, */
/* .header div, */
.main div,
.main-grid div {
    border: 1px solid;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    padding: 0px 16px;
    background-color: var(--sidebar-background-color);
}

.header {
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 3fr 2fr;
}

.top-left,
.bottom-left {
    grid-column: 1 / 2;
}

.top-right,
.bottom-right {
    grid-column: 2 / 3;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-grid {
    height: 80%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(10, 1fr);
}

.project-title {
    grid-column: 1 / 2;
}

.announcements-title {
    grid-column: 2 / 3;
}

.project-cards {
    grid-row: 2 / 11;
}

.announcements-grid {
    grid-row: 2 / 6;
}

.trending-grid {
    grid-row: 7 / 11;
}

.dashboard-header,
.nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    gap: 16px;
}

.svg-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar svg {
    fill: white;
}

.nav-item svg,
.top-left svg,
.top-right svg {
    width: 25px;
    height: 25px;
}

.header {
    padding: 0px 64px;
}

.top-left,
.top-right,
.bottom-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-bar {
    background-color: var(--main-background-color);
    border: none;
    flex: 1;
    border-radius: 999px;
    padding: 0px 12px;
    height: 30px;
    font-weight: 400;
}

.search-bar:focus {
    outline: none;
}

.top-right {
    justify-content: flex-end;
    gap: 24px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(images/user-profile.svg);
    background-size: 170%;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-color: #facc15;
}

.top-right p {
    font-weight: 700;
}

.bottom-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 6fr;
    font-weight: 700;
}

.bottom-left .profile-pic {
    grid-row: 1 / 3;
    height: 75px;
    width: 75px;
    align-self: center;
}

.bottom-left .greeting {
    align-self: flex-end;
    font-size: 0.75rem;
}

.bottom-left .handle {
    font-size: 1.33rem;
}

.bottom-right {
    justify-content: flex-end;
    gap: 24px;
}

.bottom-right button {
    flex-basis: 96px;
    background-color: var(--sidebar-background-color);
    color: white;
    border: none;
    border-radius: 999px;
    padding: 8px 0px;
    font-weight: 700;
}