*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

body > div, .sidebar *, .header div, .main div, .main-grid div {
    border: 1px solid;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 3fr 2fr;
}

.top-left, .bottom-left {
    grid-column: 1 / 2;
}

.top-right, .bottom-right {
    grid-column: 2 / 3;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-grid {
    height: 80%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(10, 1fr);
}

.project-title {
    grid-column: 1 / 2;
}

.announcements-title {
    grid-column: 2 / 3;
}

.project-cards {
    grid-row: 2 / 11;
}

.announcements-grid {
    grid-row: 2 / 6;
}

.trending-grid {
    grid-row: 7 / 11;
}