*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

body > div, .sidebar *, .header div {
    border: 1px solid;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 3fr 2fr;
}

.top-left, .bottom-left {
    grid-column: 1 / 2;
}

.top-right, .bottom-right {
    grid-column: 2 / 3;
}